.navbar {
	position: sticky;
	width: 100%;

}
img{
	max-width: 100%;
	height:

}


.fa-star-half-alt{
	color: yellowgreeen;
	padding: 3% 0;
}

.fa-star{
	color: yellowgreeen;
	padding: 3% 0;
}


.custom-color{
	color: black!important;
}